@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

$light-blue-color: #daebf7;
$blue-color: #5595d1;
$yellow-color: #ffeb00;
$grey-color: #59595b;

/* Reset básico */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  scroll-behavior: smooth;
}

p {
  font-size: 1rem;
  color: $grey-color;
}

.cntr-900 {
  max-width: 56.25rem;
  margin: 0 auto;
}

.cntr-750 {
  max-width: 46.875rem;
  margin: 0 auto;
}

/* MAIN - Background azul */
.main-banner {
  width: 100%;
  height: 100vh;
  background: url('../images/casa-c-fundo.png') no-repeat;
  display: flex;
  justify-content: center;
  background-position: center;
  background-size: cover;

  .container{
      padding-inline: 25px;
      max-width: 940px;
      margin: 0 auto;
      width: 100%;

  }

  .content {
      display: inline-block;
      padding: 60px 60px 180px;
      background: #ffeb00;
      border-radius: 0% 0% 10px 20px;
      clip-path: polygon(0% 0%, 100% 0%, 100% 85%, 0% 100%);
      max-height: 90vh;
  }

  .logo {
    width: 13.75rem;
    margin-bottom: 2.5rem;
  }

  h1 {
    font-size: 3rem;
    color: $blue-color;
    line-height: 1.18;
    max-width: 25rem;
    margin-bottom: 1.5625rem;
  }
}
.house-section {
  background: $yellow-color;
  padding: 5.625rem;

  .content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0.625rem;
    justify-content: center;
    align-items: center;
  }

  p {
    font-size: 1.2rem;
    font-weight: 400;
  }

  .img-container {
    width: 100%;
    height: 21.875rem;
    background: $light-blue-color;
    border-radius: 1.875rem;
    max-width: 21.875rem;
    margin: 0 auto;
    overflow: hidden;
    box-shadow: 0px 0.3125rem 0.9375rem rgba(0, 0, 0, 0.35);
    border: 0.125rem solid #fff;

    img {
      width: 100%;
      height: 100%;
    }
  }
}

.video-section {
  background: $blue-color;
  padding: 6.875rem 0;

  .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .video {
    width: 100%;
    height: 26.875rem;
    border-radius: 1.875rem;
    border: 0.125rem solid #000;
    box-shadow: 0px 0.3125rem 0.9375rem rgba(0, 0, 0, 0.35);
  }

  .text {
    max-width: 40.625rem;
    margin-bottom: 2.8125rem;

    h2 {
      font-size: 2rem;
      font-weight: 600;
      color: $yellow-color;
      line-height: 2.5rem;
    }

    p {
      margin-block: 1rem 0.375rem;
    }

    p,
    span {
      color: #fff;
      font-size: 1.125rem;
    }

    span {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 0.3125rem;

      img {
        height: 1.25rem;
      }
    }
  }

  .btn-contact {
    background: $yellow-color;
    display: inline-flex;
    padding: 1.25rem 11.25rem;
    align-items: center;
    border-radius: 1.25rem;
    border: 0.125rem solid #000;
    margin-top: 2.5rem;
    text-decoration: none;
    color: #000;
    font-weight: bold;
    gap: 0.625rem;

    img {
      width: 1.25rem;
    }
  }
}

.attention-section {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background: $yellow-color;

  .content {
    max-width: 41.875rem;
    display: flex;
    gap: 0.9375rem;
    align-items: center;
    padding: 1.5rem;

    img {
      width: 2.8125rem;
    }

    p {
      color: $blue-color;
      font-weight: 600;
      line-height: 1.5rem;
    }
  }
}

@media (max-width:1370px) {
  .main-banner{
    .content{
      .logo{
        width: 190px;
        margin-bottom: 30px;
      }
    }
    h1{
      font-size: 2.3rem;
    }
    p{
      font-size: .9rem;
    }
  }
}

@media (max-width: 950px) {
 

  .house-section {
    padding: 5.625rem;

    .img-container {
      width: 350px;
      height: 350px;

      img {
        width: 100%;
        height: 100%;
      }
    }

    .content {
      gap: 1.725rem !important;
    }

    p {
      font-size: 1.1rem;
      font-weight: 400;
    }
  }
}

@media (max-width: 825px) {
  .cntr-900 {
    max-width: 56.25rem;
    margin: 0 auto;
    padding-inline: 20px;
  }

  .cntr-750 {
    max-width: 46.875rem;
    margin: 0 auto;
    padding-inline: 20px;
  }
 
  .house-section {
    padding: 5.625rem;

    .img-container {
      width: 250px;
      height: 250px;

      img {
        width: 100%;
        height: 100%;
      }
    }

    .content {
      gap: 1.725rem !important;
    }

    p {
      font-size: 1rem;
      font-weight: 400;
    }
  }
}

@media (max-width: 756px) {
  .attention-section {
    .content {
      gap: 0.9375rem;
      padding: 1.5rem;

      img {
        width: 2.5125rem;
      }

      p {
        font-size: 0.6;
        line-height: 1.2rem;
      }
    }
  }

  .house-section {
    padding: 5.625rem;
    display: flex;

    .content {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 1.725rem !important;
    }

    .img-container {
      width: 250px;
      height: 250px;

      img {
        width: 100%;
        height: 100%;
      }
    }

    .content {
      gap: 1.725rem !important;
    }

    p {
      font-size: 1rem;
      font-weight: 400;
    }
  }
}

@media (max-width: 600px) {
  .video-section {
    padding: 4.875rem 0;

    .video {
      width: 100%;
      height: 18.875rem;
    }

    .text {
      max-width: 40.625rem;
      margin-bottom: 2.8125rem;

      h2 {
        font-size: 1.6rem;
        line-height: 2.3rem;
      }

      p {
        margin-block: 0.8rem 0.375rem;
      }

      p,
      span {
        font-size: 1rem;
      }
    }

    .btn-contact {
      padding: 1.25rem 7.25rem;
      font-size: 0.8rem;
      img {
        width: 1.25rem;
      }
    }
  }
}

@media (max-width: 510px) {
  
  .house-section {
    padding: 3.625rem;
    display: flex;

    .content {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 1.725rem !important;
    }

    .img-container {
      width: 100%;
      height: auto;

      img {
        width: 100%;
        height: 100%;
      }
    }

    .content {
      gap: 1.725rem !important;
    }

    p {
      font-size: 1rem;
      font-weight: 400;
    }
  }

  .video-section {
    .text {
      h2 {
        font-size: 1.4rem;
        line-height: 2.1rem;
      }
    }

    .video {
      height: 13rem;
    }

    .btn-contact {
      padding: 1.25rem 4.25rem;
      img {
        width: 1.15rem;
      }
    }
  }
  .attention-section {
    .content p {
      font-size: 0.8rem;
    }
  }
}

@media (max-width: 310px) {
 
  .house-section {
    padding: 3.625rem;
    display: flex;

    .content {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 1.725rem !important;
    }

    .img-container {
      width: 100%;
      height: auto;

      img {
        width: 100%;
        height: 100%;
      }
    }

    .content {
      gap: 1.725rem !important;
    }

    p {
      font-size: 1rem;
      font-weight: 400;
    }
  }

  .video-section {
    .text {
      h2 {
        font-size: 1.4rem;
        line-height: 2.1rem;
      }
    }

    .video {
      height: 13rem;
    }

    .btn-contact {
      padding: 1.25rem 4.25rem;
      img {
        width: 1.15rem;
      }
    }
  }
  .attention-section {
    .content p {
      font-size: 0.8rem;
    }
  }
}